#big_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 10vh;
}
.card_small{
   width: 30rem;
   min-height: 35rem;
   padding: 3.2rem 4rem;
   box-sizing: border-box;
   border-radius: .3rem;
   box-shadow: rgba(0, 0, 0, .1) 0 0 10px;
   text-align: center;
}
.header_imag {
    width: 100%;
    padding: 5rem 0;
   
    background: url(../../assets/logo.svg) no-repeat center;
    background-size:8rem;
}
.all_iamge {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: left bottom,right bottom;
    background-attachment: fixed;
    background-image: url(../../assets/left.svg),url(../../assets/right.svg);
    background-size: 62rem,62rem;
}